<h1>Empresas</h1>
<br>

<div class="search-box">
	<i class="fa fa-search"></i>
	<input class="form-control" placeholder="Search">
</div>

<div *ngFor="let data of list" class="mt-2 card">
	<div class="card-body">
		<h5 class="card-title">
			<a title="Razão Social" routerLink="/details/1">{{ data.razao_social }} </a>
		</h5>
		<h6 class="card-subtitile mb-2 text-muted">
			<span class="mr-2" title="CNPJ"> {{ data.cnpj }} </span>
			<span class="mr-2" title="Capital Ativo"> {{ data.jucespreport_set[0].capital }} </span>
		</h6>
		<p class="cart-text"> {{ data.jucespreport_set[0].objeto }} </p>
	</div>
</div>