.details{
	margin-top: 20px;
}

.group-info{
	label{
		display: block;
	}
}

.section{
	position: relative;
	margin-top: 40px;

	p{
		margin-bottom:0;
	}
}

.section-title{
	font-size: 1.2rem;
	position: absolute;
	top: -14px;
	left: 20px;
	background: white;;
}

.section-cnpj{
	padding: 30px;
}

.label{
	font-weight: 500;
}
