<div class="details">
	
	<h3>{{data.razao_social}} <br> <small>{{data.cnpj}}</small></h3>
	<!-- 
		receitadadospublicosempresareport_set	
		"ddd_1": "11",
		"telefone_1": "26058303",
		"ddd_2": "11",
		"telefone_2": "26056442",
		"ddd_fax": "11",
		"num_fax": "26058132",
		"email": "contabilhabber@uol.com.br",
		
		
	-->
	<div class="section card section-cnpj">
		<h4 class="section-title"> Dados CNPJ </h4>
		<div class="row mb-4">
			<div class="col-md-auto">
				<span class="label">Abertura </span>: {{data.receitacnpjreport_set[0].abertura}}
			</div>
			<div class="col-md-3">
				<span class="label">Fantasia</span>: {{data.receitacnpjreport_set[0].fantasia}}
			</div>
			
			<div class="col col-md-auto">
				<span class="label">Porte</span>: {{data.receitacnpjreport_set[0].porte}}
			</div>
			
			<div class="col col-md-5">
				<span class="label">Natureza Jurídica</span>: {{data.receitacnpjreport_set[0].nat_jur}}
			</div>
		</div>
		<div class="mb-4">
			<p class="label"> Razão</p>
			<p>{{data.receitacnpjreport_set[0].razao}} </p>
		</div>
		<div class="mb-4">
			<p class="label">Atividade Primária</p>
			<p>{{data.receitacnpjreport_set[0].ativ_econ_prin}}</p>
		</div>
		
		<div class="mb-4">
			<p class="label">Atividade Secundária</p>
			<p>{{data.receitacnpjreport_set[0].ativ_econ_sec}}</p>
		</div>
	</div>
	
	<div class="section card section-cnpj">
		<h4 class="section-title">Contato</h4>
		<div class="row mb-4">
			<div class="col-md-auto">
				<span class="label">Telefone 1 </span>: 
				({{data.receitadadospublicosempresareport_set[0].empresas[0].ddd_1}}) {{data.receitadadospublicosempresareport_set[0].empresas[0].telefone_1}}
			</div>
			<div class="col-md-auto">
				<span class="label">Telefone 2 </span>: 
				({{data.receitadadospublicosempresareport_set[0].empresas[0].ddd_2}}) {{data.receitadadospublicosempresareport_set[0].empresas[0].telefone_2}}
			</div>
			
			<div class="col-md-auto">
				<span class="label">Fax </span>: 
				({{data.receitadadospublicosempresareport_set[0].empresas[0].ddd_fax}}) {{data.receitadadospublicosempresareport_set[0].empresas[0].num_fax}}
			</div>
			
			<div class="col col-md-auto">
				<span class="label">E-mail</span>: {{data.receitadadospublicosempresareport_set[0].empresas[0].email}}
			</div>
		</div>
	</div>
	
	<div class="section">
		<div class="card">
			<h4 class="section-title"> Endereço </h4>
			<div class="card-body">
				<div class="col">
					<div class="form-group group-info">
						<p>{{data.jucespreport_set[0].logradouro}}, {{data.jucespreport_set[0].numero}}</p>
						<p>{{data.jucespreport_set[0].bairro}} - {{data.jucespreport_set[0].municipio}} - {{data.jucespreport_set[0].uf}}</p>
						<p>{{data.jucespreport_set[0].cep}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>